/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
		
		
body {
    font-family: 'Lora', serif;
	font-size: 14px;
}

h2 {
	font-family: 'Lora', serif;
	font-size: 36px;
	text-align: center;
}

h3 {
	font-family: 'Lora', serif;
	font-size: 14px;
	width: 1100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p {
	margin-bottom: 1.5em;
	text-indent: 2em;
	line-height: 150%;
}

.clearance {
	height: 10px;
}

.clr { clear:both; }
	
#main-wrapper {
	margin: 0px auto 0 auto;
	width: 1090px;
}

#filters { 
	width: 960px;
	margin: 0 auto;
}

#filters .demo {
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
	float: left;
	width: 85px;
	height: 50px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	border-top: 4px solid #fff;
	margin-left: 1px;
}

span{
	vertical-align: middle;
	line-height: normal;
	display: inline-block;
}
#filters .demo:hover {
	background: #f0f0f0;
}
#filters .demo.current {
	border-bottom: 4px solid #000;
	background: #f0f0f0;
}
#filters .sep {
	border-left: 1px solid #ccc;
	height: 46px;
	float: left;
	margin: 5px 2px 5px 5px;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis {
	/* No select */
	pointer-events: none;
}
.y.axis .domain { display: none; }

path.layer:hover {
	stroke: #404040;
	stroke-width: 1px;
}

#curruse {
	font-size: 2.0em;
	text-anchor: middle;
}
#currpct {
	font-size: 3.0em;
	text-anchor: middle;
}
#reset { text-anchor: middle; }
#currmeta { text-anchor:middle; }
#previous { text-anchor: end; }
.navbutton { cursor: pointer; fill: #821122; }
.navbutton:hover {
	border-bottom: 1px solid #000;
}

.layerlabel {
	text-anchor: middle;
	font-size: 13px;
	
	/* No select */
	pointer-events: none;
}
.layerlabel.hidden {
	display: none;
}
